<!doctype html>
<% local content = include_parts('pages/'..content,...) %>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/styles.css" >

    <% if content.css then %>
      <%- content.css(...) %>
    <% end %>


    <title>BlackBox</title>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark p-0 navbar-app">
      <button type="button" class="btn btn-link text-white sidebar-toggle d-md-none" id="sidebar-toggle" aria-label="Menu" aria-expanded="false">
        <span data-feather="menu"></span>
      </button>
      <a class="navbar-brand d-none d-md-block col-md-2 mr-0" href="#">BlackBox</a>
      <div class="navbar-toolbar d-flex align-items-center flex-grow-1 min-width-0">
        <span id="state-title" class="navbar-text navbar-state text-truncate"><%= printer_state.state %></span>
        <div id="state-progress" class="progress navbar-progress mx-2">
          <div class="progress-bar" style="width:<%= (printer_state.progress or 0)*100 %>%"></div>
        </div>
        <span id="printer-pos" class="navbar-text navbar-pos text-nowrap"></span>
        <div class="navbar-toolbar-actions d-flex align-items-center flex-shrink-0">
          <button type="button" class="btn btn-sm btn-outline-danger py-0 px-1" onclick="do_printer_action('zero-x')"><span class="d-none d-lg-inline">Zero </span>X</button>
          <button type="button" class="btn btn-sm btn-outline-danger py-0 px-1 ml-1" onclick="do_printer_action('zero-y')"><span class="d-none d-lg-inline">Zero </span>Y</button>
          <a class="nav-link py-0 pl-2 pr-0" href="/settings" aria-label="Settings"><span data-feather="settings"></span></a>
        </div>
      </div>
    </nav>
    <div class="sidebar-backdrop" id="sidebar-backdrop"></div>

    <div class="container-fluid">
      <div class="row">
        <%- include('fragments/sidebar',...) %>

        <main role="main" class="col-12 col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 printer-state-<%=printer:get_state().state%>" id="main" >
          <%- content.base(...) %>

          
        </main>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>

    <script src="/js/feather.min.js"></script>

    <% if content.jslibs then %>
      <%- content.jslibs(...) %>
    <% end %>

    <script>
      feather.replace()

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      $(function () {
        $('[extra-data-toggle="tooltip"]').tooltip()
      })

      var state = <%- json.encode( printer_state ) %>;

      $('.enabled-on-printer-state-<%=printer_state.state%>').prop( "disabled", false );
      $('.disabled-on-printer-state-<%=printer_state.state%>').prop( "disabled", true );

      

      var page_ctx = {
        printer_resolution_x: <%= printer:get_resolution_x() %>,
        printer_resolution_y: <%= printer:get_resolution_y() %>
      };

    </script>



    <script src="/js/application.js"></script>

    <% if content.scripts then %>
      <%- content.scripts(...) %>
    <% end %>

    <script type="text/javascript">
        update_state(state);
        setInterval(load_state,1000);


        
    </script>
  </body>
</html>
